body {
    background-color: white;
    font-family: "Raleway", sans-serif;
}
/* styling of text box */
#text-box {
    background-color: blue;
    width: 80%;
    max-width: 1000px;
    height: 300px;
    margin: 0 auto;
}
/* styling of keyboard */
#keyboard {
    background-color: yellow;
    width: 89%;
    max-width: 1400px;
    height: 600px;
    margin: 30px auto;
}

#left-side {
    width: 507px;
    height: 480px;
    float: left;
    margin-top: 20px;

    background-color: black;
    clip-path: polygon(100% 0, 100% 57%, 58% 100%, 0 100%, 0 0%);
}

#right-side {
    width: 507px;
    height: 480px;
    float: right;
    margin-top: 20px;

    background-color: black;
    clip-path: polygon(100% 0, 100% 100%, 42% 100%, 0 58%, 0 0%);
}

.lrow {
    width: 92%;
    height: 90px;
    margin: -5px 0 0 19px;
}

#lrow-5{
    margin-top: 32px;
}

.rrow {
    width: 92%;
    height: 90px;
    margin: -5px 0 0 19px;
}

#rrow-5 {
    margin-top: 32px;
}

.key {
    width: 59px;
    height: 59px;
    margin: 8px 1px;
    background-color: orange;
    display: inline-block;
    border-radius: 13%;
}

.rrow .key {
    float: right;
    margin-left: 5px;
}