body {
    background-color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

/* styling of text box */
#text-box {
    width: 100%;
    max-width: 1000px;
    height: 300px;
    margin: 0 auto;

    font-size: 200%;
}
/* styling of keyboard */
#keyboard {
    width: 89%;
    max-width: 1400px;
    height: 600px;
    margin: 30px auto;
}

#left-side {
    width: 507px;
    height: 480px;
    float: left;
    margin-top: 20px;

    clip-path: polygon(100% 0, 100% 57%, 58% 100%, 0 100%, 0 0%);
}

#right-side {
    width: 507px;
    height: 480px;
    float: right;
    margin-top: 20px;

    clip-path: polygon(100% 0, 100% 100%, 42% 100%, 0 58%, 0 0%);
}

.lrow {
    width: 92%;
    height: 82px;
    margin: -5px 0 0 19px;
}

#lrow-5{
    margin-top: 32px;
}

.rrow {
    width: 92%;
    height: 82px;
    margin: -5px 0 0 19px;
}

#rrow-5 {
    margin-top: 32px;
}

.key {
    font-size: 30px;
    font-weight: 500;
    line-height: 51px;
    text-align: center;
    color: rgb(81 194 255);
    
    width: 58px;
    height: 58px;
    margin: 8px 1px;
    box-shadow: rgb(2 166 255) 0px 0px 8px 0px;
    display: inline-block;
    border-radius: 13%;
}

.rrow .key {
    float: right;
    margin-left: 5px;
}