body {
    background-color: white;
    font-family: "Raleway", sans-serif;
}
/* styling of text box */
#text-box {
    background-color: blue;
    width: 80%;
    max-width: 1000px;
    height: 300px;
    margin: 0 auto;
}
/* styling of keyboard */
#keyboard {
    background-color: yellow;
    width: 89%;
    max-width: 1400px;
    height: 600px;
    margin: 30px auto;
}

#left-side {
    width: 39%;
    height: 80%;
    float: left;
    margin-top: 20px;

    background-color: black;
    clip-path: polygon(100% 0, 100% 57%, 53% 100%, 0 100%, 0 0%);
}

#right-side {
    width: 39%;
    height: 80%;
    float: right;
    margin-top: 20px;

    background-color: black;
    clip-path: polygon(100% 0, 100% 100%, 47% 100%, 0 57%, 0 0%);
}

.lrow {
    width: 92%;
    height: 90px;
    margin: 5px auto;
    background-color: white;  
}

.key {
    width: 72px;
    height: 72px;
    margin: 8px 3px;
    background-color: orange;
    display: inline-block;
    border-radius: 13%;
}