body {
    background-color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

#hideText {
    display: none;
}

element:focus {
	outline-style: none;
	box-shadow: none;
	border-color: transparent; 
}
/* styling for text box and buttons in box */
#text-box {
    position: relative;
    background-color: white;
    border: 1px solid gray;
    border-radius: 3px;
    width: 52vw;
    max-width: 671px;
    height: 304px;
    margin: 0 auto;

    font-family: 'Inter', sans-serif;
    font-size: 200%;
    text-align: center;
}

#text {
    position: relative;
    top: -19px;
}

#text-option {
    width: 30%;
    height: 30%;
    float: left;
    margin: 20px 0 0 14%;

    background-color: lightgrey;
}

#code-option {
    width: 30%;
    height: 30%;
    float: right;
    margin: 20px 14% 0 0;

    background-color: lightgrey;
}

#typing-data {
    font-size: 19px;
}

#refresh {
    position: absolute;
    bottom: 3px;
    right: 95%;
}
#refresh-mobile {
    display: none;
}
#time {
    display: none;
    position: absolute;
    bottom: -16px;
    right: 74%; 
}

#time-count {
    position: absolute;
    bottom: 0px;
    left: 107%;
}

#wpm {
    position: absolute;
    bottom: -16px;
    right: 74%; 
}

#wpm-count {
    position: absolute;
    bottom: 0px;
    left: 107%;
}

#accuracy {
    position: absolute;
    bottom: -16px;
    right: 38%;
}

#accuracy-percentage {
    position: absolute;
    bottom: 0;
    left: 107%;
}

#errors {
    position: absolute;
    bottom: -16px;
    right: 41px;
}

#error-count {
    position: absolute;
    bottom: 0;
    right: -24px;
    color: red;
}

#code-option:hover, #text-option:hover {
    background-color: grey;
}

#cover {
    position: relative;
    overflow: hidden;
}

#input-trigger {
    position: absolute;
    left: 45%;

    caret-color: transparent;
    z-index: -2;
}

#text-option-mobile {
    display: none;
}

#code-option-mobile {
    display: none;
}

/* styling of right or wrong letters in text to be typed box */

.wrong {
    color: red;
    text-decoration: underline;
}

.right {
    color: green;
    text-decoration: underline;
}

/* styling of keyboard */
.keyboard {
    width: 89%;
    max-width: 1400px;
    height: 600px;
    margin: 30px auto;
}

#left-side {
    width: 48%;
    height: 480px;
    float: left;
    margin-top: 20px;
}

#right-side {
    width: 48%;
    height: 480px;
    float: right;
    margin-top: 20px;
}

.lrow {
    /* code found on https://stackoverflow.com/a/13625843/16545052 */
    width: 92%;
    height: 0;
    padding-bottom: 12%;
    margin: 0 0 0 19px;
}

#lrow-5{
    margin-top: 32px;
}

.rrow {
    /* code found on https://stackoverflow.com/a/13625843/16545052 */
    width: 92%;
    height: 0;
    padding-bottom: 12%;
    margin: 0 0 0 19px;
}

#rrow-5 {
    margin-top: 32px;
}

.key {
    font-size: 30px;
    font-weight: 500;
    line-height: 51px;
    text-align: center;
    color: rgb(81 194 255);
    background-color: white;
    
    width: 11%;
    height: 0;
    padding-bottom: 10%;
    box-shadow: rgb(2 166 255) 0px 0px 8px 0px;
    display: inline-block;
    border-radius: 13%;
}

.rrow .key {
    float: right;
    margin-left: 8px;
}

.lrow .key {
    margin-right: 5px;
}

/* styling for slightly smaller screen sizes */
@media screen and (max-width: 1592px) {
    .key {
        font-size: 2vw;
        line-height: 3.8vw;
    }
    .rrow .key {
        margin-left: 0.5vw;
    }
    .lrow .key {
        margin-right: 0.3vw;
    }
}

/* styling for small laptop screens */
@media screen and (max-width: 1000px) {
    #text-box {
        width: 52vw;
        font-size: 175%;
    }
}

/* styling for browser windows resizes to half of screen */
@media screen and (max-width: 860px) {
    #text-box {
        width: 62vw;
        height: 250px;
        font-size: 150%;
    }
}  

/* styling for phone screens */
@media screen and (max-width: 700px) {
    #hide {
        display: none;
    }
    #text-box {
        width: 92vw;
        font-size: 128%;
    }
    #text-option {
        display: none;
    }
    #code-option {
        display: none;
    }
    #text-option-mobile {
        text-align: center;
        display: block;
        width: 67%;
        height: 53px;
        margin: 53px auto 0 auto;
        background-color: grey;
    }
    
    #code-option-mobile {
        text-align: center;
        display: block;
        width: 67%;
        height: 53px;
        margin: 53px auto 0 auto;
        background-color: grey;
    }

    #code-option-mobile p, #text-option-mobile p {
        padding: 15px;
    }
    #typing-data {
        font-size: 15px;
    }
    #refresh {
        display: none;
    }
    #refresh-mobile {
        display: inline-block;
        position: absolute;
        bottom: 3px;
        right: 92%;
    }
    #time {
        right: 73%;
        bottom: -13px;
    }
    #wpm {
        right: 73%;
        bottom: -13px;
    }
    #accuracy {
        bottom: -13px;
        right: 48%;
    }
    #errors {
        bottom: -13px;
        right: 30px;
    }
    #error-count {
        left: 53px;
    }
}