body {
    background-color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

/* styling of text box */
/* #typing-box {
    float: left;
    display: inline;
    width: 49%;
    max-width: 1000px;
    height: 300px;
    margin: 0 auto;
}

#enter-text-box {
    margin-left: 17%;
    padding: 32px 0 0 0;
    width: 85%;
    height: 272px;
    font-size: 200%;
    font-family: 'Inter', sans-serif;
} */
#text-option {
    width: 30%;
    height: 30%;
    float: left;
    margin: 20px 0 0 20px;

    background-color: lightgrey;
}

#code-option {
    width: 30%;
    height: 30%;
    float: right;
    margin: 20px 20px 0 0;

    background-color: lightgrey;
}

#code-option:hover, #text-option:hover {
    background-color: grey;
}

#text-box {
    background-color: white;
    border: 1px solid gray;
    border-radius: 3px;
    width: 52vw;
    max-width: 671px;
    height: 304px;
    margin: 0 auto;

    font-family: 'Inter', sans-serif;
    font-size: 200%;
    text-align: center;
}

#input-trigger {
    position: absolute;
    top: -10%;
    left: 45%;

    caret-color: transparent;
    z-index: -2;
}

#text-option-mobile {
    display: none;
}

#code-option-mobile {
    display: none;
}

/* styling of right or wrong letters in text to be typed box */

.wrong {
    color: red;
    text-decoration: underline;
}

.right {
    color: green;
    text-decoration: underline;
}

/* styling of keyboard */
.keyboard {
    width: 89%;
    max-width: 1400px;
    height: 600px;
    margin: 30px auto;
}

#left-side {
    width: 48%;
    height: 480px;
    float: left;
    margin-top: 20px;
}

#right-side {
    width: 48%;
    height: 480px;
    float: right;
    margin-top: 20px;
}

.lrow {
    width: 92%;
    height: 0;
    padding-bottom: 12%;
    margin: 0 0 0 19px;
}

#lrow-5{
    margin-top: 32px;
}

.rrow {
    width: 92%;
    height: 0;
    padding-bottom: 12%;
    margin: 0 0 0 19px;
}

#rrow-5 {
    margin-top: 32px;
}

.key {
    font-size: 30px;
    font-weight: 500;
    line-height: 51px;
    text-align: center;
    color: rgb(81 194 255);
    background-color: white;
    
    width: 11%;
    height: 0;
    padding-bottom: 10%;
    box-shadow: rgb(2 166 255) 0px 0px 8px 0px;
    display: inline-block;
    border-radius: 13%;
}

.rrow .key {
    float: right;
    margin-left: 8px;
}

.lrow .key {
    margin-right: 5px;
}

@media screen and (max-width: 1592px) {
    .key {
        font-size: 2vw;
        line-height: 3.8vw;
    }
    .rrow .key {
        margin-left: 0.5vw;
    }
    .lrow .key {
        margin-right: 0.3vw;
    }
}

@media screen and (max-width: 1000px) {
    #text-box {
        width: 52vw;
        font-size: 175%;
    }
}

@media screen and (max-width: 860px) {
    #text-box {
        width: 62vw;
        height: 250px;
        font-size: 150%;
    }
}  

@media (orientation:portrait) {
    #hide {
        display: none;
    }
    #text-box {
        width: 92vw;
        font-size: 128%;
    }
    #text-option {
        display: none;
    }
    #code-option {
        display: none;
    }
    #text-option-mobile {
        text-align: center;
        display: block;
        width: 67%;
        height: 53px;
        margin: 53px auto 0 auto;
        background-color: grey;
    }
    
    #code-option-mobile {
        text-align: center;
        display: block;
        width: 67%;
        height: 53px;
        margin: 53px auto 0 auto;
        background-color: grey;
    }

    #code-option-mobile p, #text-option-mobile p {
        padding: 15px;
    }
}