body {
    background-color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin: 0px;
}

#hideText {
    display: none;
}

element:focus {
	outline-style: none;
	box-shadow: none;
	border-color: transparent; 
}

#title {
    text-align: center;
    background-color: #525050;
    height: 117px;
    margin-bottom: 75px;
    color: #d8f1f2;
    font-size: 141%;
    position: sticky;
    top: 0;
    transition: 0.3s;
    z-index: 1;
}

#title img {
    display: inline-block;
    margin: 5px 20px 0 0;
    width: 107px;
}

#title-desktop {
    display: inline-block;
    position: relative;
    top: -41px;
}

#title-mobile {
    display: none;
}

/* styling for top section */
#top-section {
    width: 91%;
    max-width: 1600px;
    height: 48vw;
    max-height: 580px;
    margin: 0 auto;
}

#moonlander-image {
    background-color: lightblue;
    max-width: 700px;
    width: 48%;
    float: left;
}

#moonlander-image img {
    display: block;
    margin: 0 auto;
    width: 98%;
}

#intro-explain {
    width: 93%;
    margin: 0 auto;
}

.sticky-note {
    background: lemonchiffon;
    font-family: 'Delius', cursive;
    text-align: center;
    width: 47%;
    height: 40vw;
    max-height: 487px;
    margin-bottom: 79px;
    float: left;
    box-shadow: 7px 7px 12px rgb(33 33 33 / 70%); 
}
#intro {
    float: left;
    margin-bottom: 79px;
}

#explanation {
    float: right;
}

.sticky-note p, h2 {
    margin: 30px;
}

.sticky-note p {
    font-size: 23px;
    line-height: 49px;
}

.sticky-note h2 {
    font-size: 35px;
}


/* styling for text box and buttons in box */
#text-box {
    position: relative;
    background-color: white;
    border: 1px solid gray;
    border-radius: 3px;
    width: 52vw;
    max-width: 671px;
    height: 304px;
    margin: 0 auto;
    padding: 0 20px;

    font-family: 'Inter', sans-serif;
    font-size: 200%;
    text-align: center;
}

#text {
    position: relative;
    top: -19px;
    padding: 10px 0 0 0;
}

#text-option {
    width: 30%;
    height: 30%;
    float: left;
    margin: 4px 0 0 14%;

    background-color: lightgrey;
}

#code-option {
    width: 30%;
    height: 30%;
    float: right;
    margin: 4px 14% 0 0;

    background-color: lightgrey;
}

#typing-data {
    font-size: 19px;
}

#refresh {
    position: absolute;
    bottom: 3px;
    right: 95%;
}
#refresh-mobile {
    display: none;
}
#time {
    display: none;
    position: absolute;
    bottom: -16px;
    right: 74%; 
}

#time-count {
    position: absolute;
    bottom: 0px;
    left: 107%;
}

#wpm {
    position: absolute;
    bottom: -16px;
    right: 74%; 
}

#wpm-count {
    position: absolute;
    bottom: 0px;
    left: 107%;
}

#accuracy {
    position: absolute;
    bottom: -16px;
    right: 38%;
}

#accuracy-percentage {
    position: absolute;
    bottom: 0;
    left: 107%;
}

#errors {
    position: absolute;
    bottom: -16px;
    right: 41px;
}

#error-count {
    position: absolute;
    bottom: 0;
    right: -24px;
    color: red;
}

#code-option:hover, #text-option:hover {
    background-color: grey;
}

#cover {
    position: relative;
    overflow: hidden;
}

#input-trigger {
    position: absolute;
    left: 45%;

    caret-color: transparent;
    z-index: -2;
}

#text-option-mobile {
    display: none;
}

#code-option-mobile {
    display: none;
}

/* styling of right or wrong letters in text to be typed box */

.wrong {
    color: red;
    text-decoration: underline;
}

.right {
    color: green;
    text-decoration: underline;
}

/* styling of keyboard */
.keyboard {
    width: 89%;
    max-width: 1400px;
    height: 419px;
    margin: 30px auto;
}

#left-side {
    width: 48%;
    height: 480px;
    float: left;
    margin-top: 20px;
}

#right-side {
    width: 48%;
    height: 480px;
    float: right;
    margin-top: 20px;
}

.lrow {
    /* code found on https://stackoverflow.com/a/13625843/16545052 */
    width: 92%;
    height: 0;
    padding-bottom: 12%;
    margin: 0 0 0 19px;
}

#lrow-5{
    margin-top: 32px;
}

.rrow {
    /* code found on https://stackoverflow.com/a/13625843/16545052 */
    width: 92%;
    height: 0;
    padding-bottom: 12%;
    margin: 0 0 0 19px;
}

#rrow-5 {
    margin-top: 32px;
}

.key {
    font-size: 30px;
    font-weight: 500;
    line-height: 51px;
    text-align: center;
    color: rgb(81 194 255);
    background-color: white;
    
    width: 11%;
    height: 0;
    padding-bottom: 10%;
    box-shadow: rgb(2 166 255) 0px 0px 8px 0px;
    display: inline-block;
    border-radius: 13%;
}

.rrow .key {
    float: right;
    margin-left: 8px;
}

.lrow .key {
    margin-right: 5px;
}

/* styling for slightly smaller screen sizes */
@media screen and (max-width: 1592px) {
    .sticky-note p {
        font-size: 1.5vw;
        line-height: 3vw;
    }
    .key {
        font-size: 2vw;
        line-height: 3.8vw;
    }
    .rrow .key {
        margin-left: 0.5vw;
    }
    .lrow .key {
        margin-right: 0.3vw;
    }
}

/* styling for small laptop screens */
@media screen and (max-width: 1000px) {
    .sticky-note p, h2 {
        margin: 14px;
    }
    .sticky-note p {
        font-size: 2vw;
        line-height: 3vw;
    }
    .sticky-note h2 {
        font-size: 3vw;
    }
    #text-box {
        width: 52vw;
        font-size: 175%;
    }
}

/* styling for browser windows resizes to half of screen */
@media screen and (max-width: 860px) {
    #text-box {
        width: 62vw;
        height: 250px;
        font-size: 150%;
    }
}  

/* styling for phone screens */
@media screen and (max-width: 700px) {
    #title {
        font-size: 12px;
    }
    title h1 {
        top: -49px;
    }
    #top-section {
        width: 97%;
        max-height: 4000px;
        height: 730px;
    }
    #intro-explain {
        width: 95%;
        margin: 0 auto;
        float: none;
    }
    .sticky-note {
        margin: 0 auto;
        float: none;
        width: 95%;
        height: 320px;
    }
    .sticky-note p {
        font-size: 17px;
        line-height: 29px;
    }
    .sticky-note h2 {
        font-size: 30px;
        padding: 13px 0 0 0;
    }
    #intro {
        float: none;
    }
    #explanation {
        float: none;
    }
    #hide {
        display: none;
    }
    #text-box {
        width: 92vw;
        font-size: 128%;
        margin-top: 31px;
        padding: 0;
    }
    #text-option {
        display: none;
    }
    #code-option {
        display: none;
    }
    #text-option-mobile {
        text-align: center;
        display: block;
        width: 67%;
        height: 53px;
        margin: 53px auto 0 auto;
        background-color: grey;
    }
    
    #code-option-mobile {
        text-align: center;
        display: block;
        width: 67%;
        height: 53px;
        margin: 53px auto 57px auto;
        background-color: grey;
    }

    #code-option-mobile p, #text-option-mobile p {
        padding: 15px;
    }
    #typing-data {
        font-size: 15px;
    }
    #refresh {
        display: none;
    }
    #refresh-mobile {
        display: inline-block;
        position: absolute;
        bottom: 3px;
        right: 92%;
    }
    #time {
        right: 73%;
        bottom: -13px;
    }
    #wpm {
        right: 73%;
        bottom: -13px;
    }
    #accuracy {
        bottom: -13px;
        right: 48%;
    }
    #errors {
        bottom: -13px;
        right: 30px;
    }
    #error-count {
        left: 53px;
    }
}

/* styling for title bar on phone screens */
@media screen and (max-width: 460px) {
    #title {
        text-align: center;
        font-size: 15px;
        height: 108px;
        margin-bottom: 61px;
    }
    #title img {
        width: 88px;
        margin: 9px 10px 0 9px;
    }
    #title-mobile {
        position: relative;
        display: inline-block;
        top: -18px;
    }
    #title-desktop {
        display: none;
    }
    #top-section {
        height: 835px;
    }
    .sticky-note {
        height: 368px;
    }
}   

@media screen and (max-width: 379px) {
    #top-section {
        height: 938px;
    }
    .sticky-note {
        height: 422px;
        margin-bottom: 56px;
    }
}